@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-black: #0a0a0a;
  --color-medium-black: #1d1d1d;
  --color-light-black: #343434;
}

* {
  font-family: "Outfit", sans-serif;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 4px;
  height: 36px;
  background-color: #343434;
  border-radius: 15%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  width: 4px;
  height: 36px;
  background-color: #343434;
  border-radius: 15%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.custom-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.shadow-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Move shadow to bottom right */
  transition: box-shadow 0.3s ease-in-out;
}

.shadow-card:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Keep shadow in the same position on hover */
}
